
<% if content.persisted? %>

<% else %>

<% end %>
<div id="<%=dom_id content%>">
  <div class="content <%= content.kind %>">
  <% if content.paragraph? %>
      <%= content.txt %>
  <% else %>

  <% end %>
  </div>
</div>
