
<div class="card bg-dark text-white">
<% if blog.header_image.present? %>
  <%= image_tag blog.header_image, class:"card-img" %>
<% end %>

<div class="card-img-overlay">
  <h5 class="card-title glassy-title">
    <%= blog.title %>
  </h5>

  <p class="card-text">Last updated <%= time_ago_in_words blog.updated_at %> ago </p>
</div>
</div>
