<div id="<%= dom_id blog %>" class="card blog-card">

<div class="row">
  <div class="col">
    <h3>
      <%= blog.title %>
    </h3>

  <small class="blog-desc">
    <%= blog.description %>
  </small>
</div>

  </div>

</div>
