<h1>Editing blog</h1>

<div class="row md-auto d-flex flex-row md-container">
  <div id="blog-form" class="col-md c-all">
  <%= render "form", blog: @blog %>
  </div>

  <div id="new_post-form" class="col-sm">
  <%= render "posts_form", blog: @blog %>
  </div>
</div>

<div>
  <%= link_to "Show this blog", @blog, class:'btn btn-primary' %> |
  <%= link_to "Back to blogs", blogs_path, class:'btn btn-primary' %>
</div>
