<div id="<%= dom_id home %>" class="bg-light">

  <div id="blogs" class="container-md mb-3">
    <div class="blog-card-row">
    <% home.blogs.each do |blog| %>
      <%= link_to blog, class:"blog-link-square col" do %>
        <%= render "blogs/blog_card", blog: blog %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <h3>About</h3>
    <%= home.about %>
  </div>

</div>
