
<div id="<%= dom_id home %>"
  class="card">

    <% home.blogs.each do |blog| %>
      <div class="glassy-title">
      <%= blog.title %>
      </div>
    <% end %>

  <div>
    <h2>About:</h2>
    <%= home.about %>
  </div>

  <p>
    <strong>Time tag:</strong>
    <%= home.time_tag.year %>
  </p>

</div>
