<h1>Editing post</h1>

<%= render "form", post: @post %>

<hr>
post content
<% @post.contents.each do |content| %>
  <%= render "contents/content_form", content: content %>
<% end %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
