<div id="<%= dom_id blog %>" class="card blog-card">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blog.description %>
  </p>

  <%= blog.story %>


</div>
