
<div class="posts-list container-md">
<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts" class="col-5 c-all">
  <% posts.each do |post| %>
    <%= link_to post do %>
      <%= render post %>
    <% end %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
</div>
